
.bodyMain{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding:20px 5px;
    background:white;
}
.container1{
    width: 500px;
    background: #fff;
    box-shadow: 0 0 7px #c2c2c2;
    border-radius: 10px;
    padding:17px;
}
.main-content{
    display: grid;
    justify-content: center;
    align-content: center;
}
.main-content-item .mat-form-field{
    width: 100%;
    padding-bottom: 5px;
}
mat-datepicker-toggle{
    font-size: 20px;
}
.main-content-item3{
    padding-top: 10px;
}
.main-content-item3 textarea{
    width:100%;
}