<div class="page-content-data position-absolute text-center">
    <div class="">
        <h1>Want to edit your details?</h1>
        <a type="button" class="btn btn-outline-primary" routerLink="edit">Click here</a>
    </div>
    <div class="divider"><hr></div>
    <div class="">
        <h1>Want to modify your details?</h1>
        <a type="button" class="btn btn-outline-secondary" routerLink="manage">Click here</a>
    </div>
    <div class="divider"><hr></div>
    <div class="">
        <h1>Want to cancel your booking?</h1>
        <a type="button" class="btn btn-outline-danger" routerLink="delete">Click here</a>
    </div>
</div>