@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
/* #39395f #73a24e #a9c25d #f5eec2 #416a59  */
html,body{
    height: 100% ;
}
.mat-form-field-infix{
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 216px !important;
}
.mat-form-field-type-mat-date-range-input .mat-form-field-infix {
    width: 165px !important;
}